<div class="container">

  <div *ngIf="!isEditable()" >
    <h5>Add Todos</h5>
    <form (submit)="addTodo()">
      <input class="form-control" type="text" [(ngModel)]="tempText" name="todo">
    </form>
    <button class="btn btn-danger" *ngIf="isNotEmpty()" value="Delete All" (click)="deleteAll()">deleteAll</button>
  </div>


  <div *ngIf="isEditable()">
    <h5>Edit Todos </h5>
    <span class="btn btn-info" (click)="disableEditMode()">Switch to Add mode</span>
    <form (submit)="updateTodo()">
      <input class="form-control" type="text" [(ngModel)]="tempText" name="todo">
    </form>
    <button class="btn btn-danger" *ngIf="isNotEmpty()" value="Delete All" (click)="deleteAll()">deleteAll</button>
  </div>
  <div class="container">

    <div *ngFor='let todo of todos' class=" row list-group-item">
      <span (click)="enableEditMode(todo)" class="col-sm-11">{{todo.text}}</span>
      <input class=" col-sm-1 btn btn-danger btn-sm" type="button" name="delete" value="X" (click)="deleteTodo(todo)" />
    </div>
  </div>
</div>